war/src/main/wsdl/CarClub.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="CarClubWSService" targetNamespace="http://mobics.criticalsoftware.com/carclub"
  xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mobics.criticalsoftware.com/carclub"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.criticalsoftware.com/mobios/services/accounting/dto"
      version="1.0" xmlns:tns="http://www.criticalsoftware.com/mobios/services/accounting/dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="car_tags">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="tag" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="client_tags">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="tag" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="credit_card_configuration">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" type="xs:string" />
            <xs:element name="card_number" type="xs:string" />
            <xs:element name="month" type="xs:string" />
            <xs:element name="year" type="xs:string" />
            <xs:element name="securityCode" type="xs:string" />
            <xs:element name="wallet_id" type="xs:string" />
            <xs:element name="first_name" type="xs:string" />
            <xs:element name="last_name" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="customerChangeStateEventMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="customerName" type="xs:string" />
            <xs:element name="carClubCode" type="xs:string" />
            <xs:element name="stateCode" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="events_calendar">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="event">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="name" type="xs:string" />
                  <xs:element name="startDate" type="xs:string" />
                  <xs:element name="endDate" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ps2_configuration">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="nib" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sdd_configuration">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="nib" type="xs:string" />
            <xs:element name="payer_account" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="weekly_restriction">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="timePeriod">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="dayOfWeek" type="xs:int" />
                  <xs:element name="startHour" type="xs:string" />
                  <xs:element name="endHour" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="zone_restriction">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="zoneCode" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="tagDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="active" type="xs:boolean" />
          <xs:element minOccurs="0" name="dateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tagCode" type="xs:string" />
          <xs:element minOccurs="0" name="tagName" type="xs:string" />
          <xs:element minOccurs="0" name="tagType" type="tns:tagTypeEnum" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="tagTypeEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CLIENT" />
          <xs:enumeration value="CAR" />
          <xs:enumeration value="COMPANY" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.criticalsoftware.com/mobios/country/configuration"
      version="1.0" xmlns:tns="http://www.criticalsoftware.com/mobios/country/configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="countriesConfiguration">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="systemDefaultCode" type="xs:string" />
            <xs:element maxOccurs="unbounded" name="countryConfiguration" type="tns:countryConfiguration" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="countryConfiguration">
        <xs:sequence>
          <xs:element name="countryCode" type="xs:string" />
          <xs:element name="timeZone" type="xs:string" />
          <xs:element name="taxCode" type="xs:string" />
          <xs:element name="currencySymbol" type="xs:string" />
          <xs:element name="distanceSymbol" type="xs:string" />
          <xs:element name="patterns">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="currencyPattern" type="xs:string" />
                <xs:element name="currencyPattern4" type="xs:string" />
                <xs:element name="currencyConversionPattern" type="xs:string" />
                <xs:element name="currencyConversionPatternForEmail" type="xs:string" />
                <xs:element name="invoiceCurrencyConversionPattern" type="xs:string" />
                <xs:element name="distancePattern" type="xs:string" />
                <xs:element name="distanceConversionPattern" type="xs:string" />
                <xs:element name="shortDistancePattern" type="xs:string" />
                <xs:element name="shortDistanceConversionPattern" type="xs:string" />
                <xs:element name="distanceConversionFactor" type="xs:int" />
                <xs:element name="addressValidatorPattern" type="xs:string" />
                <xs:element name="localityValidatorPattern" type="xs:string" />
                <xs:element name="postalCodeValidatorPattern" type="xs:string" />
                <xs:element name="phoneValidatorPattern" type="xs:string" />
                <xs:element name="licensePlateValidatorPattern" type="xs:string" />
                <xs:element name="hoursMinutesPattern" type="xs:string" />
                <xs:element name="hoursMinutesSecondsPattern" type="xs:string" />
                <xs:element name="timestampPattern" type="xs:string" />
                <xs:element name="fullTimestampPattern" type="xs:string" />
                <xs:element name="datePattern" type="xs:string" />
                <xs:element name="jsDateTimePattern" type="xs:string" />
                <xs:element name="jsDatePattern" type="xs:string" />
                <xs:element name="jsTimePattern" type="xs:string" />
                <xs:element name="weekPattern" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
      targetNamespace="http://mobics.criticalsoftware.com/carclub" xmlns:ns1="http://www.criticalsoftware.com/mobios/country/configuration"
      xmlns:ns2="http://www.criticalsoftware.com/mobios/services/accounting/dto" xmlns:tns="http://mobics.criticalsoftware.com/carclub"
      xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.criticalsoftware.com/mobios/country/configuration" />
      <xs:import namespace="http://www.criticalsoftware.com/mobios/services/accounting/dto" />
      <xs:element name="getAddOnDetails" type="tns:getAddOnDetails" />
      <xs:element name="getAddOnDetailsResponse" type="tns:getAddOnDetailsResponse" />
      <xs:element name="getAddonsByCarClubCode" type="tns:getAddonsByCarClubCode" />
      <xs:element name="getAddonsByCarClubCodeResponse" type="tns:getAddonsByCarClubCodeResponse" />
      <xs:element name="getAddonsByCarClubCodeSimple" type="tns:getAddonsByCarClubCodeSimple" />
      <xs:element name="getAddonsByCarClubCodeSimpleResponse" type="tns:getAddonsByCarClubCodeSimpleResponse" />
      <xs:element name="getCarClubAdditionalServices" type="tns:getCarClubAdditionalServices" />
      <xs:element name="getCarClubAdditionalServicesResponse" type="tns:getCarClubAdditionalServicesResponse" />
      <xs:element name="getCarClubByCarClubCode" type="tns:getCarClubByCarClubCode" />
      <xs:element name="getCarClubByCarClubCodeResponse" type="tns:getCarClubByCarClubCodeResponse" />
      <xs:element name="getCarClubImageByCarClubCode" type="tns:getCarClubImageByCarClubCode" />
      <xs:element name="getCarClubImageByCarClubCodeResponse" type="tns:getCarClubImageByCarClubCodeResponse" />
      <xs:element name="getCarClubSimpleByURL" type="tns:getCarClubSimpleByURL" />
      <xs:element name="getCarClubSimpleByURLResponse" type="tns:getCarClubSimpleByURLResponse" />
      <xs:element name="getCarClubSmallImageByCarClubCode" type="tns:getCarClubSmallImageByCarClubCode" />
      <xs:element name="getCarClubSmallImageByCarClubCodeResponse" type="tns:getCarClubSmallImageByCarClubCodeResponse" />
      <xs:element name="getCarClubSmallThumbnailByCarClubCode" type="tns:getCarClubSmallThumbnailByCarClubCode" />
      <xs:element name="getCarClubSmallThumbnailByCarClubCodeResponse" type="tns:getCarClubSmallThumbnailByCarClubCodeResponse" />
      <xs:element name="getCarClubTermsOfService" type="tns:getCarClubTermsOfService" />
      <xs:element name="getCarClubTermsOfServiceResponse" type="tns:getCarClubTermsOfServiceResponse" />
      <xs:element name="getCarClubThumbnailByCarClubCode" type="tns:getCarClubThumbnailByCarClubCode" />
      <xs:element name="getCarClubThumbnailByCarClubCodeResponse" type="tns:getCarClubThumbnailByCarClubCodeResponse" />
      <xs:element name="getCountryConfigurationByCarClubCode" type="tns:getCountryConfigurationByCarClubCode" />
      <xs:element name="getCountryConfigurationByCarClubCodeResponse" type="tns:getCountryConfigurationByCarClubCodeResponse" />
      <xs:element name="getCustomerCarClub" type="tns:getCustomerCarClub" />
      <xs:element name="getCustomerCarClubResponse" type="tns:getCustomerCarClubResponse" />
      <xs:element name="getLocationsByCarClubCode" type="tns:getLocationsByCarClubCode" />
      <xs:element name="getLocationsByCarClubCodeResponse" type="tns:getLocationsByCarClubCodeResponse" />
      <xs:element name="getParksByCarClubCodeAndLocationCode" type="tns:getParksByCarClubCodeAndLocationCode" />
      <xs:element name="getParksByCarClubCodeAndLocationCodeResponse" type="tns:getParksByCarClubCodeAndLocationCodeResponse" />
      <xs:element name="getPromotionDetail" type="tns:getPromotionDetail" />
      <xs:element name="getPromotionDetailResponse" type="tns:getPromotionDetailResponse" />
      <xs:element name="getPromotionThumbnail" type="tns:getPromotionThumbnail" />
      <xs:element name="getPromotionThumbnailResponse" type="tns:getPromotionThumbnailResponse" />
      <xs:element name="getPromotionsForCarClub" type="tns:getPromotionsForCarClub" />
      <xs:element name="getPromotionsForCarClubResponse" type="tns:getPromotionsForCarClubResponse" />
      <xs:element name="getZoneWithPolygonsByCode" type="tns:getZoneWithPolygonsByCode" />
      <xs:element name="getZoneWithPolygonsByCodeResponse" type="tns:getZoneWithPolygonsByCodeResponse" />
      <xs:element name="getZonesByCarClubCode" type="tns:getZonesByCarClubCode" />
      <xs:element name="getZonesByCarClubCodeResponse" type="tns:getZonesByCarClubCodeResponse" />
      <xs:element name="validateCarClub" type="tns:validateCarClub" />
      <xs:element name="validateCarClubCode" type="tns:validateCarClubCode" />
      <xs:element name="validateCarClubCodeResponse" type="tns:validateCarClubCodeResponse" />
      <xs:element name="validateCarClubOwner" type="tns:validateCarClubOwner" />
      <xs:element name="validateCarClubOwnerResponse" type="tns:validateCarClubOwnerResponse" />
      <xs:element name="validateCarClubResponse" type="tns:validateCarClubResponse" />
      <xs:element name="validateEmployeeAccessionCode" type="tns:validateEmployeeAccessionCode" />
      <xs:element name="validateEmployeeAccessionCodeResponse" type="tns:validateEmployeeAccessionCodeResponse" />
      <xs:complexType name="getCarClubImageByCarClubCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubImageByCarClubCodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubTermsOfService">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubTermsOfServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:fileAttachmentDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fileAttachmentDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="fileContents" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="fileName" type="xs:string" />
          <xs:element minOccurs="0" name="mimeType" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="tns:fileAttachmentTypeEnum" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubSmallImageByCarClubCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubSmallImageByCarClubCodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validateCarClub">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validateCarClubResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPromotionsForCarClub">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="startDate" type="xs:dateTime" />
          <xs:element form="qualified" minOccurs="0" name="endDate" type="xs:dateTime" />
          <xs:element form="qualified" minOccurs="0" name="languageCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPromotionsForCarClubResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:promotionWebServiceListDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="promotionWebServiceListDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="discount" type="xs:decimal" />
          <xs:element minOccurs="0" name="image" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="tns:promotionStatusEnum" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getZoneWithPolygonsByCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="zoneCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getZoneWithPolygonsByCodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:zoneWithPolygonDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="zoneWithPolygonDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="category" type="tns:zoneCategoryEnum" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="polygon" type="tns:polygonDTO" />
          <xs:element minOccurs="0" name="zone" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="polygonDTO">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="coordenates" nillable="true" type="tns:coordinateDTO" />
          <xs:element minOccurs="0" name="coordinatesListAsString" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="coordinateDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="latitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="longitude" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubSmallThumbnailByCarClubCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="width" type="xs:int" />
          <xs:element form="qualified" minOccurs="0" name="height" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubSmallThumbnailByCarClubCodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAddonsByCarClubCodeSimple">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAddonsByCarClubCodeSimpleResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:addOnsListDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addOnsListDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="addonCode" type="xs:string" />
          <xs:element minOccurs="0" name="canChange" type="xs:boolean" />
          <xs:element minOccurs="0" name="canDelete" type="xs:boolean" />
          <xs:element minOccurs="0" name="carClubCode" type="xs:string" />
          <xs:element minOccurs="0" name="changesEffectiveOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="changesId" type="xs:int" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="discount" type="xs:decimal" />
          <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="monthlyFee" type="xs:decimal" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="state" type="tns:customerAddonEnum" />
          <xs:element minOccurs="0" name="subscribedDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getParksByCarClubCodeAndLocationCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="locationCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getParksByCarClubCodeAndLocationCodeResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:zoneDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="zoneDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="category" type="tns:zoneCategoryEnum" />
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="location" type="xs:string" />
          <xs:element minOccurs="0" name="parentZone" type="xs:string" />
          <xs:element minOccurs="0" name="zone" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getLocationsByCarClubCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getLocationsByCarClubCodeResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:locationDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="locationDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="latitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="longitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCountryConfigurationByCarClubCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCountryConfigurationByCarClubCodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:countryConfiguration" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubAdditionalServices">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubAdditionalServicesResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:additionalServicesConfigurationDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="additionalServicesConfigurationDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="additionalServiceCode" type="xs:string" />
          <xs:element minOccurs="0" name="additionalServiceName" type="xs:string" />
          <xs:element minOccurs="0" name="additionalServiceValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPromotionDetail">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="promotionCode" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="showImage" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPromotionDetailResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:promotionsDetailListDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="promotionsDetailListDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="calendarRestricted" type="xs:boolean" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="cars" nillable="true" type="ns2:tagDTO" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="clients" nillable="true" type="ns2:tagDTO" />
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="communicationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="communicationsNr" type="xs:int" />
          <xs:element name="corporate" type="xs:boolean" />
          <xs:element minOccurs="0" name="corporateCode" type="xs:string" />
          <xs:element minOccurs="0" name="corporateName" type="xs:string" />
          <xs:element minOccurs="0" name="dateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="discount" type="xs:decimal" />
          <xs:element minOccurs="0" name="discountType" type="tns:discountType" />
          <xs:element name="enable" type="xs:boolean" />
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="maxValuePerMonth" type="xs:decimal" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="minTripDuration" type="xs:int" />
          <xs:element minOccurs="0" name="picture" type="tns:fileAttachmentDTO" />
          <xs:element minOccurs="0" name="promotionName" type="xs:string" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="restrictions" nillable="true"
            type="tns:calendarRestrictionsDTO" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="status" type="tns:promotionStatusEnum" />
          <xs:element minOccurs="0" name="tripsNr" type="xs:int" />
          <xs:element minOccurs="0" name="units" type="tns:timeUnitsEnum" />
          <xs:element minOccurs="0" name="usageMaxNr" type="xs:int" />
          <xs:element name="validUntil" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="calendarRestrictionsDTO">
        <xs:sequence>
          <xs:element name="dayDisabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="dayOfWeek" type="tns:daysOfWeekEnum" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="dayRestrictions" nillable="true"
            type="tns:dayRestrictionsDTO" />
          <xs:element minOccurs="0" name="type" type="tns:dayScheduleType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dayRestrictionsDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getZonesByCarClubCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getZonesByCarClubCodeResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:zoneDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAddonsByCarClubCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAddonsByCarClubCodeResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:addOnsListDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubByCarClubCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubByCarClubCodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:carClubSimpleDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="carClubSimpleDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="carClubCode" type="xs:string" />
          <xs:element minOccurs="0" name="carClubColorScheme" type="xs:string" />
          <xs:element minOccurs="0" name="carClubContactEmail" type="xs:string" />
          <xs:element minOccurs="0" name="carClubContactPhone" type="xs:string" />
          <xs:element minOccurs="0" name="carClubName" type="xs:string" />
          <xs:element minOccurs="0" name="carClubTheme" type="xs:string" />
          <xs:element minOccurs="0" name="carClubWebSiteURL" type="xs:string" />
          <xs:element minOccurs="0" name="isStandalone" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validateCarClubCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validateCarClubCodeResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validateCarClubOwner">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="validateCarClubOwnerResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:carClubOwnerDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="carClubOwnerDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="carClubCode" type="xs:string" />
          <xs:element minOccurs="0" name="carClubName" type="xs:string" />
          <xs:element minOccurs="0" name="carClubOwnerName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPromotionThumbnail">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="promotionCode" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="width" type="xs:int" />
          <xs:element form="qualified" minOccurs="0" name="height" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPromotionThumbnailResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validateEmployeeAccessionCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="fiscalNumber" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="accessionCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validateEmployeeAccessionCodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubSimpleByURL">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="url" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubSimpleByURLResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:carClubSimpleDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCustomerCarClub">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getCustomerCarClubResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:carClubSimpleDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAddOnDetails">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="addOnCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAddOnDetailsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:addOnsListDetailsDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addOnsListDetailsDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="addonState" type="tns:customerAddonEnum" />
          <xs:element minOccurs="0" name="calendarRestricted" type="xs:boolean" />
          <xs:element minOccurs="0" name="carClubCode" type="xs:string" />
          <xs:element minOccurs="0" name="changesEffectiveOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="discount" type="xs:decimal" />
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="eventsList" nillable="true" type="tns:addOnsEventDTO" />
          <xs:element minOccurs="0" name="extraKm" type="xs:decimal" />
          <xs:element minOccurs="0" name="includedKm" type="xs:int" />
          <xs:element minOccurs="0" name="isBaseAddOn" type="xs:boolean" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="monthlyFee" type="xs:decimal" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="restrictions" nillable="true"
            type="tns:calendarRestrictionsDTO" />
          <xs:element minOccurs="0" name="sendOnDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="unsubscriptionEffectiveOn" type="xs:dateTime" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="zonesList" nillable="true" type="tns:zoneDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addOnsEventDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubThumbnailByCarClubCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="width" type="xs:int" />
          <xs:element form="qualified" minOccurs="0" name="height" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClubThumbnailByCarClubCodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="fileAttachmentTypeEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CAR_CLUB_LOGO" />
          <xs:enumeration value="CAR_CLUB_SMALL_LOGO" />
          <xs:enumeration value="CAR_IMAGE" />
          <xs:enumeration value="EVENT_ATTACHMENT" />
          <xs:enumeration value="BACKOFFICE_HEADER_LOGO" />
          <xs:enumeration value="CSV_FILE" />
          <xs:enumeration value="EXTERNAL_ENTITY_LOGO" />
          <xs:enumeration value="EXTERNAL_ENTITY_INVOICE_ATTACHMENT" />
          <xs:enumeration value="TERMS_OF_SERVICE" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="promotionStatusEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PENDING" />
          <xs:enumeration value="ONGOING" />
          <xs:enumeration value="ENDED" />
          <xs:enumeration value="ENABLED" />
          <xs:enumeration value="DISABLED" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="zoneCategoryEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NORMAL" />
          <xs:enumeration value="SPECIAL" />
          <xs:enumeration value="UNWANTED" />
          <xs:enumeration value="PARKING" />
          <xs:enumeration value="FORBIDDEN" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="customerAddonEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ACTIVE" />
          <xs:enumeration value="UNSUBSCRIBED" />
          <xs:enumeration value="EXPIRED" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="discountType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="IMMEDIATE" />
          <xs:enumeration value="DEFERRED" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="daysOfWeekEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="MONDAY" />
          <xs:enumeration value="TUESDAY" />
          <xs:enumeration value="WEDNESDAY" />
          <xs:enumeration value="THURSDAY" />
          <xs:enumeration value="FRIDAY" />
          <xs:enumeration value="SATURDAY" />
          <xs:enumeration value="SUNDAY" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="dayScheduleType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="BETWEEN" />
          <xs:enumeration value="OUTSIDE" />
          <xs:enumeration value="ALL_DAY" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="timeUnitsEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="MONTHS" />
          <xs:enumeration value="WEEKS" />
          <xs:enumeration value="DAYS" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="IOException" type="tns:IOException" />
      <xs:complexType name="IOException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="PromotionCodeNotFoundException" type="tns:PromotionCodeNotFoundException" />
      <xs:complexType name="PromotionCodeNotFoundException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="LocationCodeNotFoundException" type="tns:LocationCodeNotFoundException" />
      <xs:complexType name="LocationCodeNotFoundException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="CarClubCodeNotFoundException" type="tns:CarClubCodeNotFoundException" />
      <xs:complexType name="CarClubCodeNotFoundException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="CarClubOwnerNotFoundException" type="tns:CarClubOwnerNotFoundException" />
      <xs:complexType name="CarClubOwnerNotFoundException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="UserNotFoundException" type="tns:UserNotFoundException" />
      <xs:complexType name="UserNotFoundException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="CarClubWebSiteURLNotFoundException" type="tns:CarClubWebSiteURLNotFoundException" />
      <xs:complexType name="CarClubWebSiteURLNotFoundException">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="validateCarClubCode">
    <wsdl:part element="tns:validateCarClubCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubSimpleByURL">
    <wsdl:part element="tns:getCarClubSimpleByURL" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLocationsByCarClubCodeResponse">
    <wsdl:part element="tns:getLocationsByCarClubCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPromotionThumbnail">
    <wsdl:part element="tns:getPromotionThumbnail" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getParksByCarClubCodeAndLocationCodeResponse">
    <wsdl:part element="tns:getParksByCarClubCodeAndLocationCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAddonsByCarClubCode">
    <wsdl:part element="tns:getAddonsByCarClubCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubAdditionalServices">
    <wsdl:part element="tns:getCarClubAdditionalServices" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubTermsOfService">
    <wsdl:part element="tns:getCarClubTermsOfService" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCarClubCodeResponse">
    <wsdl:part element="tns:validateCarClubCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPromotionsForCarClub">
    <wsdl:part element="tns:getPromotionsForCarClub" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubByCarClubCode">
    <wsdl:part element="tns:getCarClubByCarClubCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAddonsByCarClubCodeSimpleResponse">
    <wsdl:part element="tns:getAddonsByCarClubCodeSimpleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubTermsOfServiceResponse">
    <wsdl:part element="tns:getCarClubTermsOfServiceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LocationCodeNotFoundException">
    <wsdl:part element="tns:LocationCodeNotFoundException" name="LocationCodeNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PromotionCodeNotFoundException">
    <wsdl:part element="tns:PromotionCodeNotFoundException" name="PromotionCodeNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getParksByCarClubCodeAndLocationCode">
    <wsdl:part element="tns:getParksByCarClubCodeAndLocationCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryConfigurationByCarClubCodeResponse">
    <wsdl:part element="tns:getCountryConfigurationByCarClubCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateEmployeeAccessionCodeResponse">
    <wsdl:part element="tns:validateEmployeeAccessionCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubSmallImageByCarClubCodeResponse">
    <wsdl:part element="tns:getCarClubSmallImageByCarClubCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CarClubCodeNotFoundException">
    <wsdl:part element="tns:CarClubCodeNotFoundException" name="CarClubCodeNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCarClubResponse">
    <wsdl:part element="tns:validateCarClubResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCarClub">
    <wsdl:part element="tns:validateCarClub" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCarClubOwnerResponse">
    <wsdl:part element="tns:validateCarClubOwnerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubSmallImageByCarClubCode">
    <wsdl:part element="tns:getCarClubSmallImageByCarClubCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPromotionDetail">
    <wsdl:part element="tns:getPromotionDetail" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UserNotFoundException">
    <wsdl:part element="tns:UserNotFoundException" name="UserNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryConfigurationByCarClubCode">
    <wsdl:part element="tns:getCountryConfigurationByCarClubCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAddonsByCarClubCodeSimple">
    <wsdl:part element="tns:getAddonsByCarClubCodeSimple" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubAdditionalServicesResponse">
    <wsdl:part element="tns:getCarClubAdditionalServicesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getZonesByCarClubCodeResponse">
    <wsdl:part element="tns:getZonesByCarClubCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CarClubOwnerNotFoundException">
    <wsdl:part element="tns:CarClubOwnerNotFoundException" name="CarClubOwnerNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubImageByCarClubCodeResponse">
    <wsdl:part element="tns:getCarClubImageByCarClubCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAddonsByCarClubCodeResponse">
    <wsdl:part element="tns:getAddonsByCarClubCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAddOnDetails">
    <wsdl:part element="tns:getAddOnDetails" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerCarClubResponse">
    <wsdl:part element="tns:getCustomerCarClubResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPromotionDetailResponse">
    <wsdl:part element="tns:getPromotionDetailResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCarClubOwner">
    <wsdl:part element="tns:validateCarClubOwner" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAddOnDetailsResponse">
    <wsdl:part element="tns:getAddOnDetailsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerCarClub">
    <wsdl:part element="tns:getCustomerCarClub" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CarClubWebSiteURLNotFoundException">
    <wsdl:part element="tns:CarClubWebSiteURLNotFoundException" name="CarClubWebSiteURLNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateEmployeeAccessionCode">
    <wsdl:part element="tns:validateEmployeeAccessionCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getZonesByCarClubCode">
    <wsdl:part element="tns:getZonesByCarClubCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPromotionsForCarClubResponse">
    <wsdl:part element="tns:getPromotionsForCarClubResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubThumbnailByCarClubCodeResponse">
    <wsdl:part element="tns:getCarClubThumbnailByCarClubCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPromotionThumbnailResponse">
    <wsdl:part element="tns:getPromotionThumbnailResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubThumbnailByCarClubCode">
    <wsdl:part element="tns:getCarClubThumbnailByCarClubCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLocationsByCarClubCode">
    <wsdl:part element="tns:getLocationsByCarClubCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubImageByCarClubCode">
    <wsdl:part element="tns:getCarClubImageByCarClubCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubByCarClubCodeResponse">
    <wsdl:part element="tns:getCarClubByCarClubCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubSmallThumbnailByCarClubCode">
    <wsdl:part element="tns:getCarClubSmallThumbnailByCarClubCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IOException">
    <wsdl:part element="tns:IOException" name="IOException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubSimpleByURLResponse">
    <wsdl:part element="tns:getCarClubSimpleByURLResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClubSmallThumbnailByCarClubCodeResponse">
    <wsdl:part element="tns:getCarClubSmallThumbnailByCarClubCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getZoneWithPolygonsByCodeResponse">
    <wsdl:part element="tns:getZoneWithPolygonsByCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getZoneWithPolygonsByCode">
    <wsdl:part element="tns:getZoneWithPolygonsByCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CarClub">
    <wsdl:operation name="getCarClubImageByCarClubCode">
      <wsdl:input message="tns:getCarClubImageByCarClubCode" name="getCarClubImageByCarClubCode">
      </wsdl:input>
      <wsdl:output message="tns:getCarClubImageByCarClubCodeResponse" name="getCarClubImageByCarClubCodeResponse">
      </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarClubTermsOfService">
      <wsdl:input message="tns:getCarClubTermsOfService" name="getCarClubTermsOfService">
      </wsdl:input>
      <wsdl:output message="tns:getCarClubTermsOfServiceResponse" name="getCarClubTermsOfServiceResponse">
      </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
      </wsdl:fault>
      <wsdl:fault message="tns:PromotionCodeNotFoundException" name="PromotionCodeNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarClubSmallImageByCarClubCode">
      <wsdl:input message="tns:getCarClubSmallImageByCarClubCode" name="getCarClubSmallImageByCarClubCode">
      </wsdl:input>
      <wsdl:output message="tns:getCarClubSmallImageByCarClubCodeResponse" name="getCarClubSmallImageByCarClubCodeResponse">
      </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateCarClub">
      <wsdl:input message="tns:validateCarClub" name="validateCarClub">
      </wsdl:input>
      <wsdl:output message="tns:validateCarClubResponse" name="validateCarClubResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPromotionsForCarClub">
      <wsdl:input message="tns:getPromotionsForCarClub" name="getPromotionsForCarClub">
      </wsdl:input>
      <wsdl:output message="tns:getPromotionsForCarClubResponse" name="getPromotionsForCarClubResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZoneWithPolygonsByCode">
      <wsdl:input message="tns:getZoneWithPolygonsByCode" name="getZoneWithPolygonsByCode">
      </wsdl:input>
      <wsdl:output message="tns:getZoneWithPolygonsByCodeResponse" name="getZoneWithPolygonsByCodeResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarClubSmallThumbnailByCarClubCode">
      <wsdl:input message="tns:getCarClubSmallThumbnailByCarClubCode" name="getCarClubSmallThumbnailByCarClubCode">
      </wsdl:input>
      <wsdl:output message="tns:getCarClubSmallThumbnailByCarClubCodeResponse" name="getCarClubSmallThumbnailByCarClubCodeResponse">
      </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAddonsByCarClubCodeSimple">
      <wsdl:input message="tns:getAddonsByCarClubCodeSimple" name="getAddonsByCarClubCodeSimple">
      </wsdl:input>
      <wsdl:output message="tns:getAddonsByCarClubCodeSimpleResponse" name="getAddonsByCarClubCodeSimpleResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParksByCarClubCodeAndLocationCode">
      <wsdl:input message="tns:getParksByCarClubCodeAndLocationCode" name="getParksByCarClubCodeAndLocationCode">
      </wsdl:input>
      <wsdl:output message="tns:getParksByCarClubCodeAndLocationCodeResponse" name="getParksByCarClubCodeAndLocationCodeResponse">
      </wsdl:output>
      <wsdl:fault message="tns:LocationCodeNotFoundException" name="LocationCodeNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:CarClubCodeNotFoundException" name="CarClubCodeNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLocationsByCarClubCode">
      <wsdl:input message="tns:getLocationsByCarClubCode" name="getLocationsByCarClubCode">
      </wsdl:input>
      <wsdl:output message="tns:getLocationsByCarClubCodeResponse" name="getLocationsByCarClubCodeResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCountryConfigurationByCarClubCode">
      <wsdl:input message="tns:getCountryConfigurationByCarClubCode" name="getCountryConfigurationByCarClubCode">
      </wsdl:input>
      <wsdl:output message="tns:getCountryConfigurationByCarClubCodeResponse" name="getCountryConfigurationByCarClubCodeResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarClubAdditionalServices">
      <wsdl:input message="tns:getCarClubAdditionalServices" name="getCarClubAdditionalServices">
      </wsdl:input>
      <wsdl:output message="tns:getCarClubAdditionalServicesResponse" name="getCarClubAdditionalServicesResponse">
      </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPromotionDetail">
      <wsdl:input message="tns:getPromotionDetail" name="getPromotionDetail">
      </wsdl:input>
      <wsdl:output message="tns:getPromotionDetailResponse" name="getPromotionDetailResponse">
      </wsdl:output>
      <wsdl:fault message="tns:PromotionCodeNotFoundException" name="PromotionCodeNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getZonesByCarClubCode">
      <wsdl:input message="tns:getZonesByCarClubCode" name="getZonesByCarClubCode">
      </wsdl:input>
      <wsdl:output message="tns:getZonesByCarClubCodeResponse" name="getZonesByCarClubCodeResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddonsByCarClubCode">
      <wsdl:input message="tns:getAddonsByCarClubCode" name="getAddonsByCarClubCode">
      </wsdl:input>
      <wsdl:output message="tns:getAddonsByCarClubCodeResponse" name="getAddonsByCarClubCodeResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarClubByCarClubCode">
      <wsdl:input message="tns:getCarClubByCarClubCode" name="getCarClubByCarClubCode">
      </wsdl:input>
      <wsdl:output message="tns:getCarClubByCarClubCodeResponse" name="getCarClubByCarClubCodeResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCarClubCode">
      <wsdl:input message="tns:validateCarClubCode" name="validateCarClubCode">
      </wsdl:input>
      <wsdl:output message="tns:validateCarClubCodeResponse" name="validateCarClubCodeResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCarClubOwner">
      <wsdl:input message="tns:validateCarClubOwner" name="validateCarClubOwner">
      </wsdl:input>
      <wsdl:output message="tns:validateCarClubOwnerResponse" name="validateCarClubOwnerResponse">
      </wsdl:output>
      <wsdl:fault message="tns:UserNotFoundException" name="UserNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:CarClubOwnerNotFoundException" name="CarClubOwnerNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPromotionThumbnail">
      <wsdl:input message="tns:getPromotionThumbnail" name="getPromotionThumbnail">
      </wsdl:input>
      <wsdl:output message="tns:getPromotionThumbnailResponse" name="getPromotionThumbnailResponse">
      </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
      </wsdl:fault>
      <wsdl:fault message="tns:PromotionCodeNotFoundException" name="PromotionCodeNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateEmployeeAccessionCode">
      <wsdl:input message="tns:validateEmployeeAccessionCode" name="validateEmployeeAccessionCode">
      </wsdl:input>
      <wsdl:output message="tns:validateEmployeeAccessionCodeResponse" name="validateEmployeeAccessionCodeResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarClubSimpleByURL">
      <wsdl:input message="tns:getCarClubSimpleByURL" name="getCarClubSimpleByURL">
      </wsdl:input>
      <wsdl:output message="tns:getCarClubSimpleByURLResponse" name="getCarClubSimpleByURLResponse">
      </wsdl:output>
      <wsdl:fault message="tns:CarClubWebSiteURLNotFoundException" name="CarClubWebSiteURLNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:CarClubCodeNotFoundException" name="CarClubCodeNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomerCarClub">
      <wsdl:input message="tns:getCustomerCarClub" name="getCustomerCarClub">
        <wsp:PolicyReference URI="#SecurityServiceUsernameHashPasswordPolicy" />
      </wsdl:input>
      <wsdl:output message="tns:getCustomerCarClubResponse" name="getCustomerCarClubResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddOnDetails">
      <wsdl:input message="tns:getAddOnDetails" name="getAddOnDetails">
      </wsdl:input>
      <wsdl:output message="tns:getAddOnDetailsResponse" name="getAddOnDetailsResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarClubThumbnailByCarClubCode">
      <wsdl:input message="tns:getCarClubThumbnailByCarClubCode" name="getCarClubThumbnailByCarClubCode">
      </wsdl:input>
      <wsdl:output message="tns:getCarClubThumbnailByCarClubCodeResponse" name="getCarClubThumbnailByCarClubCodeResponse">
      </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarClubWSServiceSoapBinding" type="tns:CarClub">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCarClubImageByCarClubCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarClubImageByCarClubCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarClubImageByCarClubCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarClubTermsOfService">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarClubTermsOfService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarClubTermsOfServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="PromotionCodeNotFoundException">
        <soap:fault name="PromotionCodeNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarClubSmallImageByCarClubCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarClubSmallImageByCarClubCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarClubSmallImageByCarClubCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateCarClub">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validateCarClub">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validateCarClubResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPromotionsForCarClub">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPromotionsForCarClub">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPromotionsForCarClubResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZoneWithPolygonsByCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getZoneWithPolygonsByCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getZoneWithPolygonsByCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddonsByCarClubCodeSimple">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAddonsByCarClubCodeSimple">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAddonsByCarClubCodeSimpleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarClubSmallThumbnailByCarClubCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarClubSmallThumbnailByCarClubCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarClubSmallThumbnailByCarClubCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getParksByCarClubCodeAndLocationCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getParksByCarClubCodeAndLocationCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getParksByCarClubCodeAndLocationCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LocationCodeNotFoundException">
        <soap:fault name="LocationCodeNotFoundException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CarClubCodeNotFoundException">
        <soap:fault name="CarClubCodeNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLocationsByCarClubCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getLocationsByCarClubCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getLocationsByCarClubCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarClubAdditionalServices">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarClubAdditionalServices">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarClubAdditionalServicesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountryConfigurationByCarClubCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCountryConfigurationByCarClubCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCountryConfigurationByCarClubCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPromotionDetail">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPromotionDetail">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPromotionDetailResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PromotionCodeNotFoundException">
        <soap:fault name="PromotionCodeNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getZonesByCarClubCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getZonesByCarClubCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getZonesByCarClubCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddonsByCarClubCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAddonsByCarClubCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAddonsByCarClubCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarClubByCarClubCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarClubByCarClubCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarClubByCarClubCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCarClubCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validateCarClubCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validateCarClubCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCarClubOwner">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validateCarClubOwner">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validateCarClubOwnerResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CarClubOwnerNotFoundException">
        <soap:fault name="CarClubOwnerNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPromotionThumbnail">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPromotionThumbnail">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPromotionThumbnailResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="PromotionCodeNotFoundException">
        <soap:fault name="PromotionCodeNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateEmployeeAccessionCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validateEmployeeAccessionCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validateEmployeeAccessionCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarClubSimpleByURL">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarClubSimpleByURL">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarClubSimpleByURLResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarClubWebSiteURLNotFoundException">
        <soap:fault name="CarClubWebSiteURLNotFoundException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CarClubCodeNotFoundException">
        <soap:fault name="CarClubCodeNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomerCarClub">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCustomerCarClub">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCustomerCarClubResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddOnDetails">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAddOnDetails">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAddOnDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarClubThumbnailByCarClubCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarClubThumbnailByCarClubCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarClubThumbnailByCarClubCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarClubWSService">
    <wsdl:port binding="tns:CarClubWSServiceSoapBinding" name="CarClubPort">
      <soap:address location="http://localhost:8080/mobics-webservices/CarClub" />
    </wsdl:port>
  </wsdl:service>
  <wsp:Policy wsu:Id="SecurityServiceUsernameHashPasswordPolicy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:HashPassword />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</wsdl:definitions>