war/src/main/wsdl/Fleet.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="FleetWSService" targetNamespace="http://mobics.criticalsoftware.com/fleet"
  xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mobics.criticalsoftware.com/fleet"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.criticalsoftware.com/mobios/services/accounting/dto"
      version="1.0" xmlns:tns="http://www.criticalsoftware.com/mobios/services/accounting/dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="car_tags">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="tag" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="client_tags">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="tag" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="credit_card_configuration">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" type="xs:string" />
            <xs:element name="card_number" type="xs:string" />
            <xs:element name="month" type="xs:string" />
            <xs:element name="year" type="xs:string" />
            <xs:element name="securityCode" type="xs:string" />
            <xs:element name="wallet_id" type="xs:string" />
            <xs:element name="first_name" type="xs:string" />
            <xs:element name="last_name" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="customerChangeStateEventMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="customerName" type="xs:string" />
            <xs:element name="carClubCode" type="xs:string" />
            <xs:element name="stateCode" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="events_calendar">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="event">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="name" type="xs:string" />
                  <xs:element name="startDate" type="xs:string" />
                  <xs:element name="endDate" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ps2_configuration">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="nib" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sdd_configuration">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="nib" type="xs:string" />
            <xs:element name="payer_account" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="weekly_restriction">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="timePeriod">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="dayOfWeek" type="xs:int" />
                  <xs:element name="startHour" type="xs:string" />
                  <xs:element name="endHour" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="zone_restriction">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="zoneCode" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="tagDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="active" type="xs:boolean" />
          <xs:element minOccurs="0" name="dateModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tagCode" type="xs:string" />
          <xs:element minOccurs="0" name="tagName" type="xs:string" />
          <xs:element minOccurs="0" name="tagType" type="tns:tagTypeEnum" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="tagTypeEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CLIENT" />
          <xs:enumeration value="CAR" />
          <xs:enumeration value="COMPANY" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
      targetNamespace="http://mobics.criticalsoftware.com/fleet" xmlns:ns1="http://www.criticalsoftware.com/mobios/services/accounting/dto"
      xmlns:tns="http://mobics.criticalsoftware.com/fleet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.criticalsoftware.com/mobios/services/accounting/dto" />
      <xs:element name="getCarClasses" type="tns:getCarClasses" />
      <xs:element name="getCarClassesResponse" type="tns:getCarClassesResponse" />
      <xs:element name="getCarCoordinatesByLicensePlate" type="tns:getCarCoordinatesByLicensePlate" />
      <xs:element name="getCarCoordinatesByLicensePlateResponse" type="tns:getCarCoordinatesByLicensePlateResponse" />
      <xs:element name="getCarDetails" type="tns:getCarDetails" />
      <xs:element name="getCarDetailsResponse" type="tns:getCarDetailsResponse" />
      <xs:element name="getCarImage" type="tns:getCarImage" />
      <xs:element name="getCarImageResponse" type="tns:getCarImageResponse" />
      <xs:element name="getCarThumbnail" type="tns:getCarThumbnail" />
      <xs:element name="getCarThumbnailResponse" type="tns:getCarThumbnailResponse" />
      <xs:element name="getCarZones" type="tns:getCarZones" />
      <xs:element name="getCarZonesResponse" type="tns:getCarZonesResponse" />
      <xs:element name="getCarZonesWithPolygons" type="tns:getCarZonesWithPolygons" />
      <xs:element name="getCarZonesWithPolygonsResponse" type="tns:getCarZonesWithPolygonsResponse" />
      <xs:element name="getCarsByLicensePlate" type="tns:getCarsByLicensePlate" />
      <xs:element name="getCarsByLicensePlateResponse" type="tns:getCarsByLicensePlateResponse" />
      <xs:element name="getCarsCurrentZone" type="tns:getCarsCurrentZone" />
      <xs:element name="getCarsCurrentZoneResponse" type="tns:getCarsCurrentZoneResponse" />
      <xs:element name="getCarsForAdvanceBooking" type="tns:getCarsForAdvanceBooking" />
      <xs:element name="getCarsForAdvanceBookingResponse" type="tns:getCarsForAdvanceBookingResponse" />
      <xs:element name="getCarsInLocationByCarClubCodeAndLocationCode" type="tns:getCarsInLocationByCarClubCodeAndLocationCode" />
      <xs:element name="getCarsInLocationByCarClubCodeAndLocationCodeResponse" type="tns:getCarsInLocationByCarClubCodeAndLocationCodeResponse" />
      <xs:element name="getCarsInLocationsByCarClubCode" type="tns:getCarsInLocationsByCarClubCode" />
      <xs:element name="getCarsInLocationsByCarClubCodeResponse" type="tns:getCarsInLocationsByCarClubCodeResponse" />
      <xs:element name="getCarsOnRadius" type="tns:getCarsOnRadius" />
      <xs:element name="getCarsOnRadiusResponse" type="tns:getCarsOnRadiusResponse" />
      <xs:element name="getFleet" type="tns:getFleet" />
      <xs:element name="getFleetResponse" type="tns:getFleetResponse" />
      <xs:element name="getNextAvailableCarForAdvanceBooking" type="tns:getNextAvailableCarForAdvanceBooking" />
      <xs:element name="getNextAvailableCarForAdvanceBookingResponse" type="tns:getNextAvailableCarForAdvanceBookingResponse" />
      <xs:element name="getParksByLocation" type="tns:getParksByLocation" />
      <xs:element name="getParksByLocationResponse" type="tns:getParksByLocationResponse" />
      <xs:element name="searchCars" type="tns:searchCars" />
      <xs:element name="searchCarsResponse" type="tns:searchCarsResponse" />
      <xs:complexType name="getCarsByLicensePlate">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="licensePlate" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="carType" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="latitude" type="xs:decimal" />
          <xs:element form="qualified" minOccurs="0" name="longitude" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarsByLicensePlateResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:carDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="carDTO">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="addOns" nillable="true" type="tns:addOnSimpleDTO" />
          <xs:element minOccurs="0" name="carBrandName" type="xs:string" />
          <xs:element minOccurs="0" name="carClubCode" type="xs:string" />
          <xs:element minOccurs="0" name="carClubName" type="xs:string" />
          <xs:element minOccurs="0" name="carFareType" type="tns:carFareTypeEnum" />
          <xs:element minOccurs="0" name="carModelName" type="xs:string" />
          <xs:element minOccurs="0" name="carName" type="xs:string" />
          <xs:element minOccurs="0" name="carType" type="tns:carTypeEnum" />
          <xs:element minOccurs="0" name="category" type="xs:string" />
          <xs:element minOccurs="0" name="categoryDescription" type="xs:string" />
          <xs:element minOccurs="0" name="configurableTime" type="xs:int" />
          <xs:element minOccurs="0" name="costPerExtraKm" type="xs:decimal" />
          <xs:element minOccurs="0" name="currentZone" type="tns:zoneDTO" />
          <xs:element minOccurs="0" name="deviceId" type="xs:string" />
          <xs:element minOccurs="0" name="distance" type="xs:decimal" />
          <xs:element minOccurs="0" name="distanceThreshold" type="xs:decimal" />
          <xs:element minOccurs="0" name="fuelLevel" type="xs:int" />
          <xs:element minOccurs="0" name="fuelType" type="tns:fuelTypeDTO" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="includedDistancePerConfigurableHour" type="xs:int" />
          <xs:element minOccurs="0" name="includedDistancePerDay" type="xs:int" />
          <xs:element minOccurs="0" name="latitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="licensePlate" type="xs:string" />
          <xs:element minOccurs="0" name="longitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="maxCostPerConfigurableHour" type="xs:decimal" />
          <xs:element minOccurs="0" name="maxCostPerDay" type="xs:decimal" />
          <xs:element minOccurs="0" name="maxCostPerHour" type="xs:decimal" />
          <xs:element minOccurs="0" name="obsConnectionStatus" type="tns:obsConnectionStatusEnum" />
          <xs:element minOccurs="0" name="obsNumber" type="xs:string" />
          <xs:element minOccurs="0" name="priceBookedPerMinute" type="xs:decimal" />
          <xs:element minOccurs="0" name="priceInUse" type="xs:decimal" />
          <xs:element minOccurs="0" name="priceReserved" type="xs:decimal" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="promotions" nillable="true" type="tns:promotionSimpleDTO" />
          <xs:element minOccurs="0" name="simNumber" type="xs:string" />
          <xs:element minOccurs="0" name="standalone" type="xs:boolean" />
          <xs:element minOccurs="0" name="state" type="xs:string" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="tags" nillable="true" type="ns1:tagDTO" />
          <xs:element minOccurs="0" name="taxCode" type="xs:string" />
          <xs:element minOccurs="0" name="totalDistanceTravelled" type="xs:int" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="zones" nillable="true" type="tns:zoneDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addOnSimpleDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="discount" type="xs:decimal" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="zoneDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="category" type="tns:zoneCategoryEnum" />
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="location" type="xs:string" />
          <xs:element minOccurs="0" name="parentZone" type="xs:string" />
          <xs:element minOccurs="0" name="zone" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fuelTypeDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="promotionSimpleDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="discount" type="xs:decimal" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getFleet">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getFleetResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:carDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarCoordinatesByLicensePlate">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="licensePlate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarCoordinatesByLicensePlateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:coordinateDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="coordinateDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="latitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="longitude" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getNextAvailableCarForAdvanceBooking">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="locationCode" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="beginBooking" type="xs:long" />
          <xs:element form="qualified" minOccurs="0" name="endBooking" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getNextAvailableCarForAdvanceBookingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:nextAvailableCarDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nextAvailableCarDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="car" type="tns:carDTO" />
          <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="starTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarImage">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="licensePlate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarImageResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarsCurrentZone">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="licensePlate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarsCurrentZoneResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:zoneDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClasses">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="languageCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarClassesResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:carClassDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="carClassDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarThumbnail">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="licensePlate" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="width" type="xs:int" />
          <xs:element form="qualified" minOccurs="0" name="height" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarThumbnailResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarDetails">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="licensePlate" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="latitude" type="xs:decimal" />
          <xs:element form="qualified" minOccurs="0" name="longitude" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarDetailsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:carDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarsInLocationsByCarClubCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarsInLocationsByCarClubCodeResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:carDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarsInLocationByCarClubCodeAndLocationCode">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="locationCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarsInLocationByCarClubCodeAndLocationCodeResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:carDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarsOnRadius">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="latitude" type="xs:decimal" />
          <xs:element form="qualified" minOccurs="0" name="longitude" type="xs:decimal" />
          <xs:element form="qualified" minOccurs="0" name="radius" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarsOnRadiusResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:carDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarsForAdvanceBooking">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carClubCode" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="parkName" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="locationCode" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="beginBooking" type="xs:long" />
          <xs:element form="qualified" minOccurs="0" name="endBooking" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarsForAdvanceBookingResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:carDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getParksByLocation">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="locationCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getParksByLocationResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:zoneDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchCars">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="carPrice" type="xs:decimal" />
          <xs:element form="qualified" minOccurs="0" name="carDistance" type="xs:decimal" />
          <xs:element form="qualified" minOccurs="0" name="carClass" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="fuelType" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="orderBy" type="xs:string" />
          <xs:element form="qualified" minOccurs="0" name="maxResults" type="xs:int" />
          <xs:element form="qualified" minOccurs="0" name="latitude" type="xs:decimal" />
          <xs:element form="qualified" minOccurs="0" name="longitude" type="xs:decimal" />
          <xs:element form="qualified" minOccurs="0" name="carType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchCarsResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:carDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarZonesWithPolygons">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="licensePlate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarZonesWithPolygonsResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:zoneWithPolygonDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="zoneWithPolygonDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="category" type="tns:zoneCategoryEnum" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="polygon" type="tns:polygonDTO" />
          <xs:element minOccurs="0" name="zone" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="polygonDTO">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="coordenates" nillable="true" type="tns:coordinateDTO" />
          <xs:element minOccurs="0" name="coordinatesListAsString" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarZones">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="licensePlate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCarZonesResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:zoneDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="carFareTypeEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="BASE" />
          <xs:enumeration value="STEP" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="carTypeEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NORMAL" />
          <xs:enumeration value="SCHEDULE_BOOKING" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="zoneCategoryEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NORMAL" />
          <xs:enumeration value="SPECIAL" />
          <xs:enumeration value="UNWANTED" />
          <xs:enumeration value="PARKING" />
          <xs:enumeration value="FORBIDDEN" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="obsConnectionStatusEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="UNTESTED" />
          <xs:enumeration value="WAITING" />
          <xs:enumeration value="OPERATIONAL" />
          <xs:enumeration value="NONOPERATIONAL" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="CarTypeNotFoundException" type="tns:CarTypeNotFoundException" />
      <xs:complexType name="CarTypeNotFoundException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="CarLicensePlateNotFoundException" type="tns:CarLicensePlateNotFoundException" />
      <xs:complexType name="CarLicensePlateNotFoundException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="CarClubCodeNotFoundException" type="tns:CarClubCodeNotFoundException" />
      <xs:complexType name="CarClubCodeNotFoundException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="IllegalDateException" type="tns:IllegalDateException" />
      <xs:complexType name="IllegalDateException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="LocationCodeNotFoundException" type="tns:LocationCodeNotFoundException" />
      <xs:complexType name="LocationCodeNotFoundException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="CustomerNotFoundException" type="tns:CustomerNotFoundException" />
      <xs:complexType name="CustomerNotFoundException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="CarNotFoundException" type="tns:CarNotFoundException" />
      <xs:complexType name="CarNotFoundException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="IOException" type="tns:IOException" />
      <xs:complexType name="IOException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="FuelTypeNotFoundException" type="tns:FuelTypeNotFoundException" />
      <xs:complexType name="FuelTypeNotFoundException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="CarClassNotFoundException" type="tns:CarClassNotFoundException" />
      <xs:complexType name="CarClassNotFoundException">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getCarsForAdvanceBookingResponse">
    <wsdl:part element="tns:getCarsForAdvanceBookingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CarNotFoundException">
    <wsdl:part element="tns:CarNotFoundException" name="CarNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarThumbnail">
    <wsdl:part element="tns:getCarThumbnail" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarZonesWithPolygons">
    <wsdl:part element="tns:getCarZonesWithPolygons" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarCoordinatesByLicensePlate">
    <wsdl:part element="tns:getCarCoordinatesByLicensePlate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarCoordinatesByLicensePlateResponse">
    <wsdl:part element="tns:getCarCoordinatesByLicensePlateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarsInLocationByCarClubCodeAndLocationCodeResponse">
    <wsdl:part element="tns:getCarsInLocationByCarClubCodeAndLocationCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarsOnRadius">
    <wsdl:part element="tns:getCarsOnRadius" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarsCurrentZoneResponse">
    <wsdl:part element="tns:getCarsCurrentZoneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarsByLicensePlate">
    <wsdl:part element="tns:getCarsByLicensePlate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FuelTypeNotFoundException">
    <wsdl:part element="tns:FuelTypeNotFoundException" name="FuelTypeNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LocationCodeNotFoundException">
    <wsdl:part element="tns:LocationCodeNotFoundException" name="LocationCodeNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarsInLocationsByCarClubCodeResponse">
    <wsdl:part element="tns:getCarsInLocationsByCarClubCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarImageResponse">
    <wsdl:part element="tns:getCarImageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarsCurrentZone">
    <wsdl:part element="tns:getCarsCurrentZone" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarZones">
    <wsdl:part element="tns:getCarZones" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFleet">
    <wsdl:part element="tns:getFleet" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getParksByLocationResponse">
    <wsdl:part element="tns:getParksByLocationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchCars">
    <wsdl:part element="tns:searchCars" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarZonesWithPolygonsResponse">
    <wsdl:part element="tns:getCarZonesWithPolygonsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarZonesResponse">
    <wsdl:part element="tns:getCarZonesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CarClassNotFoundException">
    <wsdl:part element="tns:CarClassNotFoundException" name="CarClassNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarDetails">
    <wsdl:part element="tns:getCarDetails" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClassesResponse">
    <wsdl:part element="tns:getCarClassesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarThumbnailResponse">
    <wsdl:part element="tns:getCarThumbnailResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNextAvailableCarForAdvanceBookingResponse">
    <wsdl:part element="tns:getNextAvailableCarForAdvanceBookingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CarLicensePlateNotFoundException">
    <wsdl:part element="tns:CarLicensePlateNotFoundException" name="CarLicensePlateNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarsByLicensePlateResponse">
    <wsdl:part element="tns:getCarsByLicensePlateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchCarsResponse">
    <wsdl:part element="tns:searchCarsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarsForAdvanceBooking">
    <wsdl:part element="tns:getCarsForAdvanceBooking" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarImage">
    <wsdl:part element="tns:getCarImage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarDetailsResponse">
    <wsdl:part element="tns:getCarDetailsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarsInLocationsByCarClubCode">
    <wsdl:part element="tns:getCarsInLocationsByCarClubCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFleetResponse">
    <wsdl:part element="tns:getFleetResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CarClubCodeNotFoundException">
    <wsdl:part element="tns:CarClubCodeNotFoundException" name="CarClubCodeNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IllegalDateException">
    <wsdl:part element="tns:IllegalDateException" name="IllegalDateException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNextAvailableCarForAdvanceBooking">
    <wsdl:part element="tns:getNextAvailableCarForAdvanceBooking" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarsOnRadiusResponse">
    <wsdl:part element="tns:getCarsOnRadiusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarClasses">
    <wsdl:part element="tns:getCarClasses" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CustomerNotFoundException">
    <wsdl:part element="tns:CustomerNotFoundException" name="CustomerNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getParksByLocation">
    <wsdl:part element="tns:getParksByLocation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CarTypeNotFoundException">
    <wsdl:part element="tns:CarTypeNotFoundException" name="CarTypeNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarsInLocationByCarClubCodeAndLocationCode">
    <wsdl:part element="tns:getCarsInLocationByCarClubCodeAndLocationCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IOException">
    <wsdl:part element="tns:IOException" name="IOException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Fleet">
    <wsdl:operation name="getCarsByLicensePlate">
      <wsdl:input message="tns:getCarsByLicensePlate" name="getCarsByLicensePlate">
      </wsdl:input>
      <wsdl:output message="tns:getCarsByLicensePlateResponse" name="getCarsByLicensePlateResponse">
      </wsdl:output>
      <wsdl:fault message="tns:CarTypeNotFoundException" name="CarTypeNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:CarLicensePlateNotFoundException" name="CarLicensePlateNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFleet">
      <wsdl:input message="tns:getFleet" name="getFleet">
      </wsdl:input>
      <wsdl:output message="tns:getFleetResponse" name="getFleetResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarCoordinatesByLicensePlate">
      <wsdl:input message="tns:getCarCoordinatesByLicensePlate" name="getCarCoordinatesByLicensePlate">
        <wsp:PolicyReference URI="#SecurityServiceUsernameHashPasswordPolicy" />
      </wsdl:input>
      <wsdl:output message="tns:getCarCoordinatesByLicensePlateResponse" name="getCarCoordinatesByLicensePlateResponse">
      </wsdl:output>
      <wsdl:fault message="tns:CarLicensePlateNotFoundException" name="CarLicensePlateNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNextAvailableCarForAdvanceBooking">
      <wsdl:input message="tns:getNextAvailableCarForAdvanceBooking" name="getNextAvailableCarForAdvanceBooking">
      </wsdl:input>
      <wsdl:output message="tns:getNextAvailableCarForAdvanceBookingResponse" name="getNextAvailableCarForAdvanceBookingResponse">
      </wsdl:output>
      <wsdl:fault message="tns:LocationCodeNotFoundException" name="LocationCodeNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:IllegalDateException" name="IllegalDateException">
      </wsdl:fault>
      <wsdl:fault message="tns:CarLicensePlateNotFoundException" name="CarLicensePlateNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:CarClubCodeNotFoundException" name="CarClubCodeNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarImage">
      <wsdl:input message="tns:getCarImage" name="getCarImage">
      </wsdl:input>
      <wsdl:output message="tns:getCarImageResponse" name="getCarImageResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarsCurrentZone">
      <wsdl:input message="tns:getCarsCurrentZone" name="getCarsCurrentZone">
      </wsdl:input>
      <wsdl:output message="tns:getCarsCurrentZoneResponse" name="getCarsCurrentZoneResponse">
      </wsdl:output>
      <wsdl:fault message="tns:CarNotFoundException" name="CarNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:CarLicensePlateNotFoundException" name="CarLicensePlateNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarClasses">
      <wsdl:input message="tns:getCarClasses" name="getCarClasses">
      </wsdl:input>
      <wsdl:output message="tns:getCarClassesResponse" name="getCarClassesResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarThumbnail">
      <wsdl:input message="tns:getCarThumbnail" name="getCarThumbnail">
      </wsdl:input>
      <wsdl:output message="tns:getCarThumbnailResponse" name="getCarThumbnailResponse">
      </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarDetails">
      <wsdl:input message="tns:getCarDetails" name="getCarDetails">
      </wsdl:input>
      <wsdl:output message="tns:getCarDetailsResponse" name="getCarDetailsResponse">
      </wsdl:output>
      <wsdl:fault message="tns:CarLicensePlateNotFoundException" name="CarLicensePlateNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarsInLocationsByCarClubCode">
      <wsdl:input message="tns:getCarsInLocationsByCarClubCode" name="getCarsInLocationsByCarClubCode">
      </wsdl:input>
      <wsdl:output message="tns:getCarsInLocationsByCarClubCodeResponse" name="getCarsInLocationsByCarClubCodeResponse">
      </wsdl:output>
      <wsdl:fault message="tns:CarClubCodeNotFoundException" name="CarClubCodeNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarsInLocationByCarClubCodeAndLocationCode">
      <wsdl:input message="tns:getCarsInLocationByCarClubCodeAndLocationCode" name="getCarsInLocationByCarClubCodeAndLocationCode">
      </wsdl:input>
      <wsdl:output message="tns:getCarsInLocationByCarClubCodeAndLocationCodeResponse" name="getCarsInLocationByCarClubCodeAndLocationCodeResponse">
      </wsdl:output>
      <wsdl:fault message="tns:LocationCodeNotFoundException" name="LocationCodeNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:CarClubCodeNotFoundException" name="CarClubCodeNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarsOnRadius">
      <wsdl:input message="tns:getCarsOnRadius" name="getCarsOnRadius">
      </wsdl:input>
      <wsdl:output message="tns:getCarsOnRadiusResponse" name="getCarsOnRadiusResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarsForAdvanceBooking">
      <wsdl:input message="tns:getCarsForAdvanceBooking" name="getCarsForAdvanceBooking">
      </wsdl:input>
      <wsdl:output message="tns:getCarsForAdvanceBookingResponse" name="getCarsForAdvanceBookingResponse">
      </wsdl:output>
      <wsdl:fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:IllegalDateException" name="IllegalDateException">
      </wsdl:fault>
      <wsdl:fault message="tns:CarLicensePlateNotFoundException" name="CarLicensePlateNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:CarClubCodeNotFoundException" name="CarClubCodeNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getParksByLocation">
      <wsdl:input message="tns:getParksByLocation" name="getParksByLocation">
      </wsdl:input>
      <wsdl:output message="tns:getParksByLocationResponse" name="getParksByLocationResponse">
      </wsdl:output>
      <wsdl:fault message="tns:LocationCodeNotFoundException" name="LocationCodeNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchCars">
      <wsdl:input message="tns:searchCars" name="searchCars">
      </wsdl:input>
      <wsdl:output message="tns:searchCarsResponse" name="searchCarsResponse">
      </wsdl:output>
      <wsdl:fault message="tns:FuelTypeNotFoundException" name="FuelTypeNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:CarClassNotFoundException" name="CarClassNotFoundException">
      </wsdl:fault>
      <wsdl:fault message="tns:CarTypeNotFoundException" name="CarTypeNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarZonesWithPolygons">
      <wsdl:input message="tns:getCarZonesWithPolygons" name="getCarZonesWithPolygons">
      </wsdl:input>
      <wsdl:output message="tns:getCarZonesWithPolygonsResponse" name="getCarZonesWithPolygonsResponse">
      </wsdl:output>
      <wsdl:fault message="tns:CarLicensePlateNotFoundException" name="CarLicensePlateNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarZones">
      <wsdl:input message="tns:getCarZones" name="getCarZones">
      </wsdl:input>
      <wsdl:output message="tns:getCarZonesResponse" name="getCarZonesResponse">
      </wsdl:output>
      <wsdl:fault message="tns:CarLicensePlateNotFoundException" name="CarLicensePlateNotFoundException">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FleetWSServiceSoapBinding" type="tns:Fleet">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCarsByLicensePlate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarsByLicensePlate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarsByLicensePlateResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarTypeNotFoundException">
        <soap:fault name="CarTypeNotFoundException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CarLicensePlateNotFoundException">
        <soap:fault name="CarLicensePlateNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFleet">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getFleet">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getFleetResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarCoordinatesByLicensePlate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarCoordinatesByLicensePlate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarCoordinatesByLicensePlateResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarLicensePlateNotFoundException">
        <soap:fault name="CarLicensePlateNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNextAvailableCarForAdvanceBooking">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getNextAvailableCarForAdvanceBooking">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getNextAvailableCarForAdvanceBookingResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LocationCodeNotFoundException">
        <soap:fault name="LocationCodeNotFoundException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CustomerNotFoundException">
        <soap:fault name="CustomerNotFoundException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="IllegalDateException">
        <soap:fault name="IllegalDateException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CarLicensePlateNotFoundException">
        <soap:fault name="CarLicensePlateNotFoundException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CarClubCodeNotFoundException">
        <soap:fault name="CarClubCodeNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarImage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarImage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarImageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarsCurrentZone">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarsCurrentZone">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarsCurrentZoneResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarNotFoundException">
        <soap:fault name="CarNotFoundException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CarLicensePlateNotFoundException">
        <soap:fault name="CarLicensePlateNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarClasses">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarClasses">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarClassesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarThumbnail">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarThumbnail">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarThumbnailResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarDetails">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarDetails">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarLicensePlateNotFoundException">
        <soap:fault name="CarLicensePlateNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarsInLocationsByCarClubCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarsInLocationsByCarClubCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarsInLocationsByCarClubCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarClubCodeNotFoundException">
        <soap:fault name="CarClubCodeNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarsInLocationByCarClubCodeAndLocationCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarsInLocationByCarClubCodeAndLocationCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarsInLocationByCarClubCodeAndLocationCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LocationCodeNotFoundException">
        <soap:fault name="LocationCodeNotFoundException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CarClubCodeNotFoundException">
        <soap:fault name="CarClubCodeNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarsOnRadius">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarsOnRadius">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarsOnRadiusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarsForAdvanceBooking">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarsForAdvanceBooking">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarsForAdvanceBookingResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomerNotFoundException">
        <soap:fault name="CustomerNotFoundException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="IllegalDateException">
        <soap:fault name="IllegalDateException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CarLicensePlateNotFoundException">
        <soap:fault name="CarLicensePlateNotFoundException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CarClubCodeNotFoundException">
        <soap:fault name="CarClubCodeNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getParksByLocation">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getParksByLocation">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getParksByLocationResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LocationCodeNotFoundException">
        <soap:fault name="LocationCodeNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarZonesWithPolygons">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarZonesWithPolygons">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarZonesWithPolygonsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarLicensePlateNotFoundException">
        <soap:fault name="CarLicensePlateNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchCars">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchCars">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchCarsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FuelTypeNotFoundException">
        <soap:fault name="FuelTypeNotFoundException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CarClassNotFoundException">
        <soap:fault name="CarClassNotFoundException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CarTypeNotFoundException">
        <soap:fault name="CarTypeNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarZones">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarZones">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarZonesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarLicensePlateNotFoundException">
        <soap:fault name="CarLicensePlateNotFoundException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FleetWSService">
    <wsdl:port binding="tns:FleetWSServiceSoapBinding" name="FleetPort">
      <soap:address location="http://localhost:8080/mobics-webservices/Fleet" />
    </wsdl:port>
  </wsdl:service>
  <wsp:Policy wsu:Id="SecurityServiceUsernameHashPasswordPolicy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:HashPassword />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</wsdl:definitions>