war/src/main/wsdl/Miscellaneous.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="MiscellaneousWSService" targetNamespace="http://mobics.criticalsoftware.com/Miscellaneous" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mobics.criticalsoftware.com/Miscellaneous" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://mobics.criticalsoftware.com/Miscellaneous" version="1.0" xmlns:tns="http://mobics.criticalsoftware.com/Miscellaneous" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getAllCountries" type="tns:getAllCountries"/>
<xs:element name="getAllCountriesResponse" type="tns:getAllCountriesResponse"/>
<xs:element name="getAllOccupations" type="tns:getAllOccupations"/>
<xs:element name="getAllOccupationsResponse" type="tns:getAllOccupationsResponse"/>
<xs:element name="getTransportationCompanies" type="tns:getTransportationCompanies"/>
<xs:element name="getTransportationCompaniesResponse" type="tns:getTransportationCompaniesResponse"/>
<xs:complexType name="getAllOccupations">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getAllOccupationsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:occupationDTO"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="occupationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getTransportationCompanies">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getTransportationCompaniesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:transportationCompanyDTO"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="transportationCompanyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAllCountries">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getAllCountriesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:countryDTO"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="countryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllCountries">
    <wsdl:part element="tns:getAllCountries" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCountriesResponse">
    <wsdl:part element="tns:getAllCountriesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTransportationCompaniesResponse">
    <wsdl:part element="tns:getTransportationCompaniesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllOccupationsResponse">
    <wsdl:part element="tns:getAllOccupationsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllOccupations">
    <wsdl:part element="tns:getAllOccupations" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTransportationCompanies">
    <wsdl:part element="tns:getTransportationCompanies" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Miscellaneous">
    <wsdl:operation name="getAllOccupations">
      <wsdl:input message="tns:getAllOccupations" name="getAllOccupations">
    </wsdl:input>
      <wsdl:output message="tns:getAllOccupationsResponse" name="getAllOccupationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransportationCompanies">
      <wsdl:input message="tns:getTransportationCompanies" name="getTransportationCompanies">
    </wsdl:input>
      <wsdl:output message="tns:getTransportationCompaniesResponse" name="getTransportationCompaniesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCountries">
      <wsdl:input message="tns:getAllCountries" name="getAllCountries">
    </wsdl:input>
      <wsdl:output message="tns:getAllCountriesResponse" name="getAllCountriesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MiscellaneousWSServiceSoapBinding" type="tns:Miscellaneous">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllOccupations">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllOccupations">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllOccupationsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransportationCompanies">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTransportationCompanies">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTransportationCompaniesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCountries">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllCountries">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllCountriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiscellaneousWSService">
    <wsdl:port binding="tns:MiscellaneousWSServiceSoapBinding" name="MiscellaneousPort">
      <soap:address location="http://localhost:8080/mobics-webservices/Miscellaneous"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>